<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>mu.micro</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/micro</string>
	</array>

	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<true/>
	</dict>
        <key>StandardOutPath</key>
        <string>/tmp/micro-console.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/micro-error.log</string>
</dict>
</plist>
