html, body {
  font-size: 14px;
  font-family: arial, sans-serif;
}
#header,#container,#footer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2em;
}
#container {
  max-width: 1024px;
}
a { color: #333333; text-decoration: none; }
a:hover { text-decoration: underline; }
#error {
  color: red;
}
#login, #error {
  margin: 0 auto;
  max-width: 400px;
}
#logo {
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
}
#links {
  float: right;
  font-size: 0.8em;
  font-weight: normal;
}
#menu {
  float: right;
  list-style: none;
}
#menu li {
  display: inline-block;
  margin-left: 10px;
}
#heading {
  margin-bottom: 10px;
  font-size: 1.5em;
  text-transform: capitalize;
}
button:hover {
  cursor: pointer;
}
.response {
  margin-bottom: 10px;
  overflow-wrap: break-word;
}
.search {
  width: 100%;
  position: relative;
  margin: 0 auto;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
}
.search:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
}
#services {
  height: calc(100vh - 250px);
  width: 100%;
  max-width: 1024px;
  position: absolute;
  overflow: auto;
  background: white;
  z-index: 1;
}
.field {
  margin-bottom: 3px;
}
.key, .title {
  text-transform: capitalize;
}
.key {
  color: grey;
}
.table>tbody>tr>th, .table>tbody>tr>td {
  border-top: none;
}
.endpoint, .service, .query {
  margin-bottom: 5px;
  cursor: pointer;
  display: block;
}
.bold {
  font-weight: bold;
}
.user {
    padding: 15px;
}
form  {
  display: flex;
  flex-direction: column;
}
.form-control {
  border: 1px solid #ccc;
}
.form-group {
  margin-bottom: 0px;
}
input {
  margin-bottom: 10px;
  outline: none;
  height: 25px;
}
label {
  margin-bottom: 3px;
}
pre {
  padding: 20px;
  border: 1px solid #ccc;
  overflow: auto;
  word-wrap: break-word;
}
textarea#request {
  margin-bottom: 10px;
}
@media only screen and (max-width: 500px) {
}
