{{define "content"}}
<h2 class="text-2xl font-bold mb-4">API</h2>
{{range .Services}}
  <h3 id="{{.Anchor}}" style="margin-top:2em; font-size:1.2em; font-weight:bold;">{{.Name}}</h3>
  {{if .Endpoints}}
    <ul style="margin-bottom:1.5em;">
    {{range .Endpoints}}
      <li>
        <div><a href="{{.Path}}" class="micro-link">{{.Name}}</a></div>
        <div style="margin-left:1em; font-size:0.97em;">
          <b>Request:</b>
          {{if .Params}}
            {{.Params | html}}
          {{else}}
            <i style="color:#888;">No parameters</i>
          {{end}}
          <b>Response:</b>
          {{if .Response}}
            {{.Response | html}}
          {{else}}
            <i style="color:#888;">No response fields</i>
          {{end}}
        </div>
      </li>
    {{end}}
    </ul>
  {{else}}
    <p style="color:#888;">No endpoints</p>
  {{end}}
{{end}}
{{end}}
