@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

    html, body { 
    height: 100%;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0c2e47;
    }
    body {
      padding-top: 50px;
      max-width: 1600px;
      margin: 0 auto;
    }
    h2 { color: #0c2e47; }
    a { color: #3B94D9; }

    button {
      background-color: blue; /* Green */
      border: none;
      color: whitesmoke;
      padding: 15px 32px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      font-weight: bold;
    }

    .navbar-light .navbar-toggler { border: 0; }
    .navbar-toggler:hover { background-color: whitesmoke; }
    .navbar-brand > a:hover { text-decoration: none; }
    #about {
	color: #0c2e47;
	font-weight: bold;
    }
    .footer, .footer i, .footer a { color: #495057;}
    .footer { border-top: 1px solid #eee; padding: 50px 0 25px 0; }
    .footer ul { margin: 0; }
    .main {
      min-height: calc(100% - 150px);
      min-height: calc(100vh - 150px);
      max-width: 1220px;
      margin: 0 auto;
      padding-top: 4%;
      padding-bottom: 5%;
      margin-top: 20px;
    }
    .landing {
      min-height: 600px;
    }
      .command {
        padding: 1em;
        background: whitesmoke;
	color: #333333;
        border-radius: 0.5em;
        font-weight: 300;
        text-align: left;
        margin: 0 0 25px 0;
      }

    .tagline {
      padding-top: 35px;
    }
    @media only screen and (max-width: 480px) {
        .navbar, .description {
          margin: 0;
        }
        .main, .tagline {
            padding-top: 0;
	    margin-top: 0;
        }
        body {
          padding-top: 10px;
        }
    }
    .center {
    text-align:center;
    }
    .rule {
    border: 1px solid #eee;
    }
    .grey {
    background: #333;
    color: #ffffff;
    }
    .grey a {
    text-decoration: underline;
    color: #ffffff;
    }
    .pad {
    padding-top: 120px;
    padding-bottom: 120px;
    }
    .tpad {
    padding-top: 120px;
    }
    .bpad {
    padding-bottom: 120px;
    }
    .hpad {
    padding: 20px 0 120px 0;
    }
    .htpad {
    padding: 20px 0 0 0;
    }
    .ppad {
      padding-top: 120px;
    }
    .more {
    margin-top: 25px;
    }
    .logo img { margin-bottom: 5px;}
    .logos {
    max-width: 600px;
    padding-top: 50px;
    }
    .logos ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    .logos li {
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    }
    .logos img {
    width: 100px;
    height: auto;
    }
    .blurb {
    margin-top: 10%;
    }
    .navbar {
    background: #ffffff;
    border: 0;
    padding: 0;
    margin-bottom: 20px;
    }
    .navbar-toggler {
      border: 0;
    }
    .repo a { font-weight: bold; };
    .table-secondary > th { background: #f5f6f7; };
    .title a { color: #0c2e47; vertical-align: bottom }
    .title .nav { vertical-align: bottom; }
    h2 a { color: #0c2e47; text-decoration: underline;}
    .github { color: #0c2e47; text-decoration: none; }
    .install {
        background-color: #2F2F2F; 
        padding: 15px;
        border: 2px solid #dee2e6;
    }
    .install:hover {
        cursor: pointer;
    }
    .install pre {
        color: white;
    }
    .btn {
    background-color: #0c2e47;
    color: whitesmoke;
    font-weight: 800;
    }
    .btn:hover {
    background-color: whitesmoke;
    }
    .bold { 
	color: #0c2e47;
	font-weight: 1000;
	vertical-align: middle;
	font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    }
    .title .text { 
	color: #0c2e47;
	font-weight: 600;
	vertical-align: middle;
	font-size: 2.0em;
	font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    }
@keyframes bounce {
  from { transform: translate3d(0, 0, 0); }
  to   { transform: translate3d(0, 10px, 0); }
}
.pricing {
  margin-top: 25px;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid whitesmoke;
}
.pricing ul {
  max-width: 165px;
  margin: 0 auto;
  margin: 10px;
}
.pricing li {
  text-align: left;
}
.pricing i {
  color: green;
}

.features td {
  padding: .50rem;
}
.subscript {
  font-size: 0.5em;
  height: 100%;
  vertical-align: middle;
}

#mc_embed_signup .button {
  background-color: #495057;
}
