name: Run micro server integration tests on k8s (kind)
on: [push]

jobs:

  test:
    name: Micro server integration tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Setup Kind
      uses: engineerd/setup-kind@v0.3.0

    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: micro/micro
        event-type: my-event
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Apply tf files
      run: |
        bash scripts/launch-kind.sh

    - name: Apply failed, show platform logs
      if: ${{ failure() }}
      run: |
        kubectl get pods -n platform | awk '{print $1}' | xargs -n1 kubectl logs -n platform


