name: Run micro server integration tests on minikube
on: [push, pull_request]

jobs:

  test:
    name: Micro server integration tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Setup Minikube
      uses: manusa/actions-setup-minikube@v1.0.2
      with:
        minikube version: 'v1.9.2'
        kubernetes version: 'v1.18.2'
        github token: ${{ secrets.GITHUB_TOKEN }}
    - name: Interact with the cluster
      run: kubectl get nodes

    - name: Apply resource terraform
      run: cd platform/kubernetes/micro-resource; terraform init; terraform apply

    - name: Set up Go 1.13
      uses: actions/setup-go@v2
      with:
        go-version: 1.13
      id: go

    - name: Install Protoc
      uses: arduino/setup-protoc@master

    - name: Check out code
      uses: actions/checkout@v2 

    - name: Install micro
      run: |
        go install


